body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    color: white;
    width: 200px;
    height: 30px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px -2px 34px -1px rgba(160,2,2,0.75);
}
button{
    color: white;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    box-shadow: 2px -2px 34px -1px rgba(160,2,2,0.75);
}
.single_box{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    box-shadow: 2px -2px 34px -1px rgba(160,2,2,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.main_button{
    position: absolute;
}
.button_main{
    position: relative;
    top: 200px;
    left: 0;
}
.box p{
    font-size: 15px;
    color: white;
}
span{
    font-size: 15px;
    color: white;
}